<!DOCTYPE html>
<html>
<head>
  <!--CSS-->
  <link href="../css/bootstrap.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="../css/bootstrap.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="../css/mdb.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="../css/mdb.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="../css/tonieStyle.css" type="text/css" rel="stylesheet" media="screen,projection" />

</head>

<body>

  <nav class="navbar navbar-dark teal">
    <div class="container">
      <div class="collapse navbar-toggleable-xs" id="collapseEx2">
        <a class="navbar-brand">Spotify DJ</a>
        <form class="form-inline">
          <input class="form-control" placeholder="Search" type="text" name="" value="">
        </form>
        <button type="button" id="logout" class="btn btn-default navbar-btn center-block">Logout</button>
      </div>
    </div>
  </nav>

  <main>
    <div class="container center-block">

    {{#with loggedUser}}
      <div id="username" class="col-m-6">
        <h2>Hello, {{firstName}}!</h2>
        <h5>Ready to listen?</h5>
      </div>
    {{/with}}
    </div>
  </main>

  <!--Footer-->
  <footer class="page-footer mdb-color white-text center-on-small-only">
    <!--Copyright-->
    <div class="footer-copyright">
      <div class="container-fluid">
        © 2016 Copyright: Lola, Nisu, Tonie
      </div>
    </div>
    <!--/.Copyright-->
  </footer>
  <!--/.Footer-->

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../js/materialize.js"></script>
  <script type="text/javascript">

      $("#logout").click(function(event){
        event.preventDefault();
        var currentURL = window.location.origin;
        $.get(currentURL + "/logout").then(function(){
          window.location = "/";
        });
      });

  </script>
</body>
</html>
