<!DOCTYPE html>
<html>

<head>
    <link rel="manifest" href="/manifest.json">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- md bootstrap css cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.2.0/css/mdb.min.css">
    <!--CSS-->
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/tonieStyle.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>

  <nav class="navbar navbar-default stylish-color-dark">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand mdb-color white-text">Spotify DJ</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-center">
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

    <main>
        <div class="container" id="maincontainer">
            <div class="row">
                {{#with loggedUser}}
                    <div class="col s12 m10 l10">
                        <div>
                            <!-- NAME here -->
                            <div id="username">
                                <h2>Welcome, {{userName}}!</h2>
                                <h5>Time to party!</h5>
                                <br>
                                <hr>
                {{/with}}
                </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="thumbnail">
                            <img src="../public/images/marvin3.jpeg" alt="No Image">
                            <div class="caption">
                                <h3>Current Song: Ain't No Mountain High Enough</h3>
                                <p>Artist: Marvin Gaye</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="thumbnail">
                            <img src="../public/images/daryl.jpeg" alt="No Image">
                            <div class="caption">
                                <h3>Next Song: Rich girl</h3>
                                <p>Artist: Daryl Hall</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="display">
                    </div>
                    <p class="text">
                        Austin, TX
                    </p>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-4 spotify">
                    <div>
                        <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aspotify%3Aplaylist%3A2PXdUld4Ueio2pHcB6sM8j" width="360" height="700" frameborder="0" allowtransparency="true"></iframe>
                    </div>
                </div>

    </main>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 SpotifyDJ
            </div>
        </div>
    </footer>


    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script src="../js/app.js"></script>
    <script type="text/javascript">
        $("#logout").click(function(event) {
            event.preventDefault();

            var currentURL = window.location.origin;
            $.get(currentURL + "/logout").then(function() {
                window.location = "/";
            });
        });
    </script>
</body>

</html>
